form{
    
    fieldset{

    }
    input[type="text"], input[type="email"]{
        width: 100%;
    }
    label{
        width: 100%;
    }
    .small{
        font-size: 80%;
        a{
            text-decoration: underline;
            &:hover{
                color: $acento;
            }
        }
    }

}

.alert{
    color: $white;
    border: 0;
}

.alert-danger{
    background-color: $red;
}

.alert-success{
    background-color: $green;
}