.item{
  
 // display: flex;

  article{
    border-top: 5px solid $blue;
    border-radius: 5px; 
    overflow: hidden;
    background-size: cover cover;
    padding: 20px;
    min-height: 400px;
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    background-position: center;
    &:hover{
    }
  }
  header{
    clear: both;
    float: left;
    width: 100%;
    position: absolute;
    top: 45px;
    width: calc(100% - 60px);
    @include bp-medium {
      top: 30px;
    }
  }
  .icon{
    // border-radius: 50px;
    // display: block;
    // border: 1px solid $white;
    // text-align: center;
    // width: 30px;
    // height: 30px;
    // line-height: 28px;
    // float: left;

  }
  p.date{
    font-size: 10px;
    text-transform: uppercase;
    float: right;
  }
  h2{
    max-width: 400px;
    line-height: 130%;
    @include bp-medium {
      font-size: 18px;
    }
  }
  summary{
    padding: 20px 0;
    max-width: 400px;
    font-size: 13px;
  }

}

.item-instagram{
  .EmbedCaption, .EmbedTimestamp, .EmbedTimestamp:visited{
    font-size: 12px !important;
  }
  article{
    padding: 0;
    p{
       word-wrap:break-word;
       color: $blue-dark;
    }
  }
}
.EmbedCaption, .EmbedTimestamp, .EmbedTimestamp:visited{
    font-size: 12px !important;
  }

.item-articulos article{
  border-color: $blue;
  background-color: $blue;
}

.item-playlist article{
  border-color: $green;
}
.item-videos article{
  border-color: $orange;
}
.item-festivales article{
  border-color: $red;
}

.item-youtube{
  article{
    padding: 0;
    border-color: $red;
    color: $blue-dark;
    align-items: flex-start;
    @media only screen and (max-width : 980px) {
      display: block;
      h2{
        padding-top: 20px;
        max-width: 80%;
      }
      summary{
        max-width: 80%;
      }
    }
  }
 
}

.youtube-video{
  background-color: $red;
}